@import "tailwindcss";

@layer base {
  :root {
    /* Configuración oscura por defecto con la paleta Zinc */
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-50);
    color-scheme: dark;
  }

  /* Estética Brutalista: Acentos en Emerald para las selecciones de texto */
  ::selection {
    background-color: var(--color-emerald-500);
    color: var(--color-zinc-950);
  }
}

/* Aquí puedes añadir clases utilitarias personalizadas si fuera necesario en el futuro */
